In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('./trip.csv', error_bad_lines=False)
df.info()

ParserError: Error tokenizing data. C error: Expected 12 fields in line 50794, saw 20

In [2]:
# df = pd.read_csv('./cycle-data.csv')
# df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   station_id         58 non-null     object
 1   name               58 non-null     object
 2   lat                58 non-null     float64
 3   long               58 non-null     float64
 4   install_date       58 non-null     object
 5   install_dockcount  58 non-null     int64
 6   modification_date  17 non-null     object
 7   current_dockcount  58 non-null     int64
 8   decommission_date  4 non-null      object
dtypes: float64(2), int64(2), object(5)
memory usage: 4.2+ KB

In [6]:
df.tail()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
53,WF-04,Seattle Aquarium / Alaskan Way S & Elliott Bay...,47.607702,-122.341650,10/13/2014,18,NaN,18,NaN
54,CH-16,Broadway and E Denny Way,47.618640,-122.320777,3/18/2016,18,NaN,18,NaN
55,SLU-22,Thomas St & 5th Ave N,47.620879,-122.347377,7/3/2016,18,NaN,18,NaN
56,UW-11,NE Pacific St/UW Medical Center,47.649952,-122.306263,10/29/2015,16,NaN,16,NaN
57,WF-03,Pier 66 / Alaskan Way & Bell St,47.611370,-122.348701,8/9/2016,18,NaN,18,NaN

In [8]:
df["modification_date"]

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7      11/9/2015
8            NaN
9            NaN
10      8/9/2016
11           NaN
12     2/24/2015
13           NaN
14           NaN
15           NaN
16           NaN
17     2/24/2015
18           NaN
19           NaN
20           NaN
21           NaN
22     3/24/2015
23     3/27/2015
24           NaN
25           NaN
26     3/18/2016
27           NaN
28           NaN
29           NaN
30           NaN
31     2/24/2015
32           NaN
33           NaN
34           NaN
35     3/13/2015
36           NaN
37     2/23/2015
38     11/2/2015
39      3/4/2015
40           NaN
41           NaN
42           NaN
43           NaN
44           NaN
45           NaN
46    10/29/2015
47     2/20/2015
48     2/20/2015
49     2/20/2015
50     2/20/2015
51           NaN
52           NaN
53           NaN
54           NaN
55           NaN
56           NaN
57           NaN
Name: modification_date, dtype: object